
.services-container ,.project-container{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2px; 
}

.services-sub-container ,.project-sub-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2px;
}

.service-text-container,
.service-image-container{
  width: 100%; 
  height: 300px; 
  overflow: hidden; 
}

.project-image-container,.project-text-container{
  width: 100%; 
  height: 350px; 
  overflow: hidden; 
}

.service-text-container,.project-text-container {
    display: flex;
    text-align: center;
    background-color: #d6d8d0;
    flex-direction: column;
    justify-content: center;

}

.service-image-container img,.project-image-container img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

a{
    text-decoration: none;
    color:black
}

@media screen and (max-width: 768px) {
  
.services-container ,.project-container{

  grid-template-columns: none;
}
}


@media screen and (max-width:456px) {


}